@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<hr />

<div class="create-housing-container">
    <p style="color: white; font-size: 14px;">
        Affordable Housing Indiana is a resource I created for people in the Indianapolis/IN area to find, add, apply and review Section 8 and Section 42 housing. I saw a lack of information and central "hub" for actual income restricted housing and sought to provide that information. All information is automatically up to date and accurate. I leave that to the users.
        <br />
        You can currently:
        <hr/>
        <ul style="color: white; font-size: 14px;">
            <li>View Housings</li>
            <li>Post Housings</li>
            <li>Edit Housings</li>
            <li>View Details and Delete</li>
        </ul>
        <br />
        <ul style="color: white; font-size: 14px;">
            <li>View Applications</li>
            <li>Fill out an Application</li>
            <li>Edit Application</li>
            <li>View Details and Delete</li>
        </ul>
        <br />
        <ul style="color: white; font-size: 14px;">
            <li>View Ratings</li>
            <li>Rate a Housing</li>
            <li>Edit Rating</li>
            <li>View Details and Delete</li>
        </ul>
    </p>

</div>
