@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #141c4b;">
    <h3 style="color: white">Affordable Housing Indiana</h3>
    <p class="lead" style="color: white">A resource to add, find, and apply to affordable housing in Indiana. You can find housing in Section 8, Section 42. Also view whether housing accepts Unemployment Vouchers (due to COVID-19) and a Safety Rating.</p>
    <p><a href="https://asp.net" class="btn btn-warning btn-lg">About &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-10 main-container">
        <h3>How to start</h3>
        <p>
            Register and Account or Login. Once logged in you may view available housing listings via the navbar, or Apply for a specific housing. You may also rate a housing to allow others to see if it is safe or not.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-10 main-container">
        <h3>More Resources</h3>
        <p>The are other resources to find Affordable Housing in Indiana, here are a few:</p>
        <p><a class="btn btn-default" href="https://www.lowincomehousing.us/IN.html">Low Income Housing &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.indianahousingnow.org/">Indiana Housing Now &raquo;</a></p>
        <p><a class="btn btn-default" href="https://inaha.org/">INAHA &raquo;</a></p>
    </div>
</div>